.hero {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  max-width: calc(#{$container-width} + 2rem);
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}

.hero-text {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  padding: 2rem;

  * {
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
  }
}

.hero-title {
  align-self: flex-end;
}

#welcome-svg {
  stroke: $light;
  stroke-width: 2;
  stroke-dasharray: 11086.012;
  stroke-dashoffset: 11086.012;
  animation: draw 50s ease forwards, fill 2s ease forwards 5s;
  max-width: 100%;
}

.text-content p {
  max-width: 78ch;
}

.word {
  display: inline-block;
  opacity: 0;
  transform: translateX(0.5rem);
  transition:
    transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    opacity 0.6s ease-in-out;

  &.visible {
    opacity: 1;
    transform: translateX(0);
  }
}
