main {
  background-color: $light;
  color: #0B001D;
  width: 100%;
  font-weight: 300;
  min-height: 100vh;
  padding: 3rem 1rem;
  box-sizing: border-box;
}

.projects-text {
  text-align: center;
  margin-bottom: 3rem;

  h2 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0.5rem;
  }

  p {
    max-width: 400px;
    margin: 0 auto;
    opacity: 0.8;
  }
}

// Structure de conteneur général
.devices-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.device {
  display: flex;
  margin: 0 auto;
  padding: 1rem;
}
