/* Mini-device */       
@media (max-width: 250px) {
  .hero-text, .footer-content {
    font-size: 4vw; // ou même 3.5vw
    text-align: center;
    padding: 0 2rem;
    word-break: break-word;
    line-height: 1.2;
  }

  .footer-content a {
    width: 10vw;
    height: auto;
  }

  .footer-content {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .footer-content p,
  .footer-content .social-icons {
    width: 100%;
    justify-content: center;
  }
}

/* Desktop > 1200px */
@media (min-width: 1201px) {
  .hero {
    justify-content: space-between; /* vertical center */
    flex-direction: row;
  }

  .hero-text {
    grid-template-rows: 1fr 1fr;
  }

  .hero-text * {
    margin: 0;
    text-align: start;
  }

  .icon-wave {
    justify-content: space-between;
  }

  .footer-content {
    margin-bottom: 1rem;
  }
}

/* Smartphone : max 600px */
@media (max-width: 600px) {
  .phone-wrapper { display: flex; flex-direction: column; align-items: center; }
  .tablet, .desktop { display: none; } /* on cache tablette et desktop */
}

/* Tablette : entre 601px et 1024px */
@media (min-width: 601px) and (max-width: 1024px) {
  .tablet { display: flex; justify-content: center; gap: 2rem; }
  .phone-wrapper, .desktop { display: none; } /* on cache phone et desktop */
}

/* Desktop : à partir de 1025px */
@media (min-width: 1025px) {
  .desktop { display: flex; justify-content: center; gap: 2rem; }
  .phone-wrapper, .tablet { display: none; } /* on cache phone et tablette */
}