.app-icon {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  box-shadow: 0 4px 10px $shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;

  img {
    max-width: 90%;
    max-height: 90%;
    height: 90%;
    border: 2px solid #cccccc;
    border-radius: 50px;
    object-fit: cover;
    padding: 4px;
    background: #F7FBFF;
  }

  &:hover {
    transform: scale(1.3);
    box-shadow: 0 8px 18px $shadow;
  }
}

.app-icon-0 { background: #ff5f56; }
.app-icon-1 { background: #ffbd2e; }
.app-icon-2 { background: #27c93f; }
