.icon-wave {
  width: 100%;
  height: auto;
  @include flex-center();
  flex-wrap: nowrap;
  opacity: 0;
  visibility: hidden;
  padding: 1rem;
  transition: width 0.3s ease, opacity 0.5s ease;

  img {
    display: block;
    height: auto;
    opacity: 0;
    @include smooth-transition(width, 0.3s);
    @include smooth-transition(opacity, 2s);
  }

  .icon-html {
    width: clamp(20px, 10vw, 80px);
    transform: translateY(-20px);
  }

  .icon-css {
    width: clamp(20px, 10vw, 80px);
    transform: translateY(20px);
  }

  .icon-js {
    width: clamp(20px, 10vw, 80px);
    transform: translateY(-20px);
  }

  .icon-php {
    width: clamp(50px, 12vw, 120px);
    transform: translateY(20px);
  }

  .icon-sql {
    width: clamp(50px, 12vw, 120px);
    transform: translateY(-20px);
  }

  .icon-nodejs {
    width: clamp(50px, 12vw, 120px);
    transform: translateY(-40px);
  }
}

.brush-wave-bottom {
  width: 100%;
  height: 100%;
  display: block;
}
