.hero-image {
  animation: fadeIn 0.3s ease-in-out;
  width: 100%;
  max-width: 400px;

  img {
    width: 100%;
    height: auto;
    display: block;
    -webkit-mask-image: radial-gradient(ellipse 78% 78%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 66%);
    mask-image: radial-gradient(ellipse 78% 78%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 66%);
  }
}
